.meme--input{
    display: flex;
    flex-direction: column;
    padding: 8%;
    margin: 3% 5% auto 5%;
    border: solid;
}
.meme--input > button{
    justify-self: baseline;
    width: 70%;
    height: 40px;
}

.input--form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    padding-bottom: 2%;
}
.input--form > input {
    width: 230px;
    height: 35px;
}
